/*images*/

img,
video {
  max-width: 100%;
  height: auto;
}

img {
  border-radius: 10px;
}
.container .img {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgs1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.imgs img {
  width: 9.4rem;
  height: 7.5rem;
}
.img3 {
  padding: 1rem;
}

/*icons*/

.sectionIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.icons.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icons .text {
  color: #050706;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}
.header {
  display: block;
  color: #7a9d8c;
  text-align: center;
  font-family: Roboto;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}
.icon:nth-child(3),
.icon:nth-child(4),
.icon:nth-child(7),
.icon:nth-child(8),
.icon:nth-child(11),
.icon:nth-child(12),
.icon:nth-child(15),
.icon:nth-child(16) {
  padding: 1.5rem;
}

/*textbox*/
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
}
.bottom1 {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.bottom2 {
  display: flex;
  width: 100%;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.background {
  position: relative;
  bottom: 1rem;
  z-index: -1;
  border-radius: 0.5rem;
  max-width: 10rem;
  background: linear-gradient(42deg, #aba8bf 0%, #f5e9f3 38.5%);
}

.background3 {
  position: relative;
  bottom: 1rem;
  z-index: -1;
  border-radius: 0.5rem;
}
.background2 {
  width: 100%;
}
.bot1 img {
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 17.6rem;
  flex-shrink: 0;
  object-fit: cover;
}

.lorem {
  padding: 1rem;
  justify-self: center;
  width: 100%;
  color: #050706;
  font-family: Roboto;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  max-width: 18rem;
}
.bot2 img {
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 11rem;
  flex-shrink: 0;
  object-fit: cover;
}

@media (width >= 750px) {
  body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
  }
  section {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  section {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container .imgs {
    width: 98%;
  }
  .imgs img {
    width: 22rem;
    height: 17.5rem;
  }

  .bottom1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0rem;
    align-items: center;
    justify-content: center;
  }
  .bottom2 {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
    padding: 0rem;
  }

  .background {
    display: flex;
    position: relative;
    z-index: -1;
    top: 0rem;
    right: 1rem;
    border-radius: 0.5rem;
    max-width: 30rem;
    height: 33rem;
    font-size: 0.6rem;
    background: linear-gradient(42deg, #aba8bf 0%, #f5e9f3 38.5%);
    align-items: center;
    justify-content: center;
  }

  .background2 {
    display: flex;
    position: relative;
    z-index: -2;
    top: 3.5rem;
    border-radius: 0.5rem;
    width: 40rem;
    height: 33rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    right: 2rem;
  }

  .background3 {
    display: flex;
    position: relative;
    z-index: -1;
    top: 3rem;
    right: 3rem;
    border-radius: 0.5rem;
    width: 38rem;
    height: 26rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(42deg, #aba8bf 0%, #f5e9f3 38.5%);
  }

  .bot1 img {
    display: flex;
    justify-content: center;
    width: 34rem;
    height: 33rem;
    flex-shrink: 0;
    object-fit: cover;
    padding: 0;
  }

  .lorem {
    padding: 1rem;
    justify-self: center;
    color: #050706;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 5%;
    max-width: 70%;
  }
  .bot2 img {
    display: flex;
    position: relative;
    justify-content: center;
    width: 42rem;
    height: 26rem;
    flex-shrink: 0;
    object-fit: cover;
    padding: 0rem;
    left: 3rem;
    top: -3rem;
  }
}
/*comp*/
@media (width >= 1140px) {
  .icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sectionIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header {
    display: block;
    color: #7a9d8c;
    text-align: center;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    width: 100%; /* Ensures full width */
    margin: 0 auto; /* Centers block elements */
  }

  .lorem {
    padding: 1rem;
    justify-self: center;
    color: #050706;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 5%;
    max-width: 100%;
  }
  
  .background {
    display: flex;
    position: relative;
    z-index: -1;
    top: 0rem;
    right: 1rem;
    border-radius: 0.5rem;
    max-width: 38rem;
    height: 30rem;
    font-size: none;
    background: linear-gradient(42deg, #aba8bf 0%, #f5e9f3 38.5%);
    align-items: center;
    justify-content: center;
  }
  .bot1 img {
    display: flex;
    justify-content: center;
    width: 34rem;
    height: 30rem;
    flex-shrink: 0;
    object-fit: cover;
    padding: 0;
  }
}
